<h2 align="center" >Composant CONTACT</h2>
<h3>Template Driven Form</h3>

<h4>Ajout d'un étudiant</h4>

<h3>Two Way Binding</h3>
<form #f="ngForm" (ngSubmit)="submit(f)">
    <label>Name : </label><input type="text" ngModel name="nomEtudiant">
    <br>
    <br>
    <label>Last Name : </label><input type="text" ngModel name="prenomEtudiant">
    <br>
    <br>
    <input type="submit" value="Ajouter" class="btn btn-success">
</form>

<hr>
    <input type="text" [(ngModel)]="providerNom" />
    <br/>
    <input type="text" [(ngModel)]="providerEmail" />
    <br/>
Infos Provider : {{providerNom}} - {{providerEmail}} 
<br/> 
<button (click)="info()" class="btn btn-success">Nouvelles Valeurs Provider</button>
<hr>    