<h2>Composant HOME</h2>
<img width="20%" [src]="image" />


<h4>Liste de contenu de day 4: Matin</h4>
<ul>
    <li *ngFor="let s of contenu">{{s | uppercase | prerfixNg}}</li>
</ul>
<button (click)="info()" class="btn btn-primary">Cliquer pour afficher un message</button>

<h3>Liste des étudiants</h3>
<ul>
    <li *ngFor="let e of etudiant">{{e}}</li>
</ul>

<h4 align="center" >Liste des Providers</h4> 
<table class="table table-bordered" align="center">
<tr><th>ID</th><th>Name</th><th>Address</th><th>Email</th></tr>
<tr *ngFor="let p of providers">
    <td>{{p.id}}</td>
    <td>{{p.name}}</td>
    <td>{{p.address}}</td>
    <td>{{p.email}}</td>
</tr>
</table>


<h3>Ajout  Provider</h3>
<form #formProvider="ngForm" (ngSubmit)="submitProvider(formProvider)">
    <label>Name : </label><input type="text" ngModel name="nameProvider">
    <br>
    <br>
    <label>Address  : </label><input type="text" ngModel name="addressProvider">
    <br>
    <br>
    <label>Email  : </label><input type="text" ngModel name="emailProvider">
    <br>
    <br>
    <input type="submit" value="Ajouter" class="btn btn-success">
</form>